# Rename to .env

VAULT_COMPARTMENT_ID=
VAULT_HSM_ENDPOINT=

VAULT_HSM_SCRIPT_VERSION_MAJOR=
VAULT_HSM_SCRIPT_VERSION_MINOR=
VAULT_HSM_SCRIPT_VERSION_PATCH=
VAULT_HSM_SCRIPT_VERSION_PRERELEASE=

WALLET_DAEMON_VERSION=develop
VAULT_API_VERSION=develop
HSM_DRIVER_VERSION=develop
DEVICE_API_VERSION=develop

VAULT_HSM_CLIENT_CERT_PATH=
VAULT_HSM_CLIENT_CERT_PWD=
ORGANIZATION_API_TOKEN=
ORGANIZATION_API_URL=
WALLET_ETH_EXPLORER_ENDPOINT=

# Temporary, for Algorand:
API_ALGORAND_BLOCKCHAIN_EXPLORER_API_KEY=