# Rename to .env

export VAULT_COMPARTMENT_ID=
export VAULT_HSM_ENDPOINT=

export VAULT_HSM_SCRIPT_VERSION_MAJOR=
export VAULT_HSM_SCRIPT_VERSION_MINOR=
export VAULT_HSM_SCRIPT_VERSION_PATCH=
export VAULT_HSM_SCRIPT_VERSION_PRERELEASE=

export WALLET_DAEMON_VERSION=develop
export VAULT_API_VERSION=develop
export HSM_DRIVER_VERSION=develop
export DEVICE_API_VERSION=develop

export VAULT_HSM_CLIENT_CERT_PATH=
export VAULT_HSM_CLIENT_CERT_PWD=
export ORGANIZATION_API_TOKEN=
export ORGANIZATION_API_URL=
export WALLET_ETH_EXPLORER_ENDPOINT=

# Temporary, for Algorand:
export API_ALGORAND_BLOCKCHAIN_EXPLORER_API_KEY=